#cart {
    z-index: 2;
    float: unset;
    position: absolute;
    right: 100px;

    width: 400px;
    background:white;
    padding-top: 0px;

    border:black solid 5px;
    border-top: black solid 0px;
    border-radius: 0px 0px 10px 10px;
}

#cart .contents {
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
}

.contents > button {
    color:white;
    font-size: .8em;
    
    border: white solid 2px;
    border-radius: 40px;
    
    background-color: black;
    padding: 7px;
    width: 100%;
}
  
.hide {
    display: none;
}

#confirmation {
    position: fixed;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    backdrop-filter: blur(3px);
    background: 0,0,0,0.4;
}

#confirmation form {
    min-width: 480px;
    padding: 3rem;
  
    box-shadow: 0 2px 8px black;
    background: white;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 5px;
}

.cart-item > img {
    height: 50px;
    width: auto;
}