/*
//////////////////////
// Cart Appearance //
////////////////////
*/

#cart {
    z-index: 2;
    float: unset;
    position: absolute;
    right: 100px;

    width: 400px;
    background:white;
    padding-top: 0px;

    border:black solid 5px;
    border-top: black solid 0px;
    border-radius: 0px 0px 10px 10px;
}

#cart h2 {
    margin: 10px 0px;
}

#cart .contents {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.cart-list {
    background: gray;
    width: 100%;
}

.contents > button {
    margin-top: 5px;
    color:white;
    font-size: .8em;
    
    border: white solid 2px;
    border-radius: 40px;
    
    background-color: black;
    padding: 7px;
    width: 100%;
}

button.close-cart {
    position: absolute;
    top: 4px;
    left: 370px;
    
    width: 15px;
    padding: 0px;
    margin: 0px;

    border: none;
    border-radius: 0px;
    width: 20px;
    background: black;
    color: white;

    font-weight: bold;
    font-size: 14pt;
}

.hide {
    display: none;
}


/*
/////////////////
// Cart Items //
///////////////
*/

.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    padding: 5px;
    margin: 1px 0px;
    font-size: 12pt;
    font-weight: normal;
    text-transform: capitalize;
}

.cart-item > img {
    height: 50px;
    width: auto;
}

.info {
    width: 170px;
    padding-left: 10px;
    margin-left: 0px;
}

.quant {
    display: flex;
    align-items: center;
}

.quant button {
    font-weight: bolder;
    background: red;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    border: none;
    margin: 0px 2px;
}

#confirmation {
    position: fixed;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    backdrop-filter: blur(3px);
    background: 0,0,0,0.4;
}

#confirmation form {
    min-width: 480px;
    padding: 3rem;
  
    box-shadow: 0 2px 8px black;
    background: white;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
