#cart{
    background:red;
    padding-top: 0px;
    border-top:black solid 5px;
    border-bottom: black solid 15px;
    
    padding-left: 5em;
    padding-right: 5em;
    margin-left: 30em;
    margin-right: 30em;
}

#cart > button {
    background-color: black;
    color:white;
    font-size: 15px;
    border: white solid 5px;
    border-radius: 40px;
    max-width: 160px;
    
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.hide {
    display: none;
}

#confirmation {
    position: fixed;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    backdrop-filter: blur(3px);
    background: 0,0,0,0.4;
}

#confirmation form {
    min-width: 480px;
    padding: 3rem;
  
    box-shadow: 0 2px 8px black;
    background: white;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}