nav {
	border-bottom: 1px solid gray;
	padding: 5px;
}

.logo {
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgb(0, 225, 255) 15%, rgba(255,255,255,1) 80%);
}

.logo > img {
  	width:100px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-around;

	background: linear-gradient(110deg, rgba(255,0,0,1) 75%, rgba(0,255,255,1) 74%);
	
	color:white;
	
	border-top: black solid 5px;
	border-bottom: black solid 5px;
	margin-top: 0px;
	padding-top: .25em;
	padding-bottom: .25em;
}

label {
	color: rgb(0, 0, 0);
	padding-left: 1em;
}

input {
	object-fit: cover;
	object-position: 97%;
}

.navbar > button {
	background-color: black;
	color:white;
	border: white solid 5px;
	border-radius: 40px;
	
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

a > img {
	width: 75px;
	height: auto;
	color:rgb(0, 0, 0);
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	text-decoration: none;
}

a:hover > img{
  	filter: invert(100%) !important;
}

nav > input{
	width: 75px;
	height: auto;
	color:rgb(0, 0, 0);
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	text-decoration: none;
}

nav > input:hover{
  	filter: invert(100%) !important;
}