* {
	padding: 0px;
	margin: 0px;
}

body {
	height: 100%;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-transform: uppercase;
	background: linear-gradient(0deg, rgb(0, 225, 255) 35%, rgb(255, 255, 255) 100%);
}
