* {
	padding: 0px;
	margin: 0px;
}

#App {
	font-size: 1em;
	height: 100vh;
	width: 100%;
	overflow: auto;
	display: flex;
	flex-flow: column nowrap;
}

body {
	height: 100%;
	z-index: 1;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-transform: uppercase;
}

#background {
	z-index: 0;
	width: 100%;
	float: unset;
	height: stretch;
	background: linear-gradient(180deg, rgb(58, 58, 58) 20%, rgb(20, 20, 20) 100%);
}